.source-tweet{
  color: #33BAFA;
}

.flex {
  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1;
  margin-right: 8px;
}

.options{
  display: block;
  font-size: 10px;
  height: 32px;
}
